.portfolio__tab_button{
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center;
  text-align: center;
}

.portfolio__item {
  width: 33%;
}

.tabs_buttons {
  flex-wrap: wrap;
  justify-content: space-evenly!important;
}

.portfolio__tab_button {
  height: 42px;
}

.modal__page_close {
  width:62px;
  height: 62px;
  background: url('../img/close.png');
}

.modal__page_close {
  top: -31px;
  right: -31px;
}

@media (max-width: 540px){
  .portfolio__item {
    width: 100%;
  }
}